/* Convert to scss */


/* Main */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
}

/* Typography */
h1 {
  padding: 20px;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 200;
  padding: 80px 0 40px 0;
}

h3 {

}

h4 {

}

p {
  font-size: 0.9rem;
}

/* Navbar */

.navbar {
  color: #2d2d2d;
  background-color: white;
}

/* Home section */

.home {
  padding: 0;
  background-color: #220547;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  animation: bgcolor infinite 10s;
  transition: 10s;
}

@keyframes bgcolor {
  0% {
    background-color: #220547;
  }

  25% {
    background-color: #090949;
  }

  50% {
    background-color: #061A46;
  }

  75% {
    background-color: #090949;
  }

  100% {
    background-color: #220547;
  }

}

.homeBtn {
  background-color: transparent;
  border: 2px solid #ff9d00;
  color: #ff9d00;
  width: 200px;
  margin: 40px 0 40px 0;
  padding: 10px;
}

.homeBtn:hover {
  background-color: #ff9d00;
  color: white;
  transition: 0.3s;
}

.typed-cursor, .typed-cursor--blink {
  color: white;
}



/* About section */

.about {
  /* height: 100vh; */
  /* background: linear-gradient(#f4f4f4, #e2e2e2); */
  background-color: #f8f9fa;
}

.profile-picture {
  width: 300px;
}

/* Skills section */

.skills {
  background-color: #f8f9fa;
  padding: 60px 0 60px 0;
}

.skills-icons {
  list-style: none;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
}

.skills-icons li {
  float: left;
  padding: 20px;
  margin-top: 20px;
  font-size: 0.7rem;
    width: 110px;
    height: 100px;
}

.skills-icons li i {
  font-size: 40px;
}

.card {
  margin: 5px;
}

.devicon-express-original,
.devicon-mongodb-plain,
.devicon-bootstrap-plain,
.devicon-sass-original,
.devicon-jquery-plain-wordmark,
.devicon-mysql-plain,
.devicon-github-plain,
.devicon-atom-original,
.devicon-slack-plain,
.devicon-confluence-plain
 {
  color: #220547;
}

.fab {
  color: #220547;
}

span {
  margin-top: 6px;
}

/* Projects section */
.projects {

}

.project {
  width: 500px;
  height: 500px;
  text-align: left;
  padding-left: 30px;
}

.openProjectBtn {
  background-color: transparent;
  border: 2px solid #ff9d00;
  color: #ff9d00;
  width: 200px;
  padding: 10px;
}

.openProjectBtn:hover {
  background-color: #ff9d00;
  color: white;
  transition: 0.3s;
}

.project-row {
  margin: 20px 0 40px 0;
}

.technology-icons, .project-icons {
  list-style: none;
  overflow: hidden;
  padding: 5px;
}

.technology-icons li {
  float: left;
  padding: 20px;
  font-size: 1rem;
  color: #fff;
}

.project-icons li {
  float: left;
  padding: 0px;
}

.project-icons li a {
  font-size: 1rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.project-icons li a:hover {
  opacity: 1;
}

.project-1 {
  background-image: url('../images/spaceinvaders.png');
  background-size: cover;
}

.project-4 {
  background-image: url('../images/boke.png');
  background-size: cover;
}

.journey {
  background-color: #f8f9fa;
  padding: 60px 0 60px 0;
}

.contact {
  padding-top: 40px;
  background-color: #220547;
  color: white;
}

.social-icons {
  list-style: none;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
}

.social-icons li {
  float: left;
  padding: 20px;
}

.social-icons li a {
  font-size: 40px;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.social-icons li a:hover {
  opacity: 1;
}

.email {
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

/* Footer */
footer {
  padding-bottom: 40px;
  background-color: #220547;
}

footer p {
  opacity: 0.5;
  color: white;
}

.copyright {
  font-size: 0.7rem;
}
