/* Convert to scss */

/* =============================================================================
MAIN
========================================================================== */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #2d2d2d;
}


h1 {
  padding: 20px;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 200;
  padding: 80px 0 40px 0;
}

h3 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 20px;
}

h4 {
  font-size: 1rem;
  border-bottom: 2px solid #f1f1f191;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  text-align: left;
}

a {
  color: #2d2d2d;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #ff9d00;
}


/* =============================================================================
NAVBAR
========================================================================== */

nav {
  background-color: white;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 700;
}

.navbar-nav {
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* =============================================================================
HOME
========================================================================== */

.home {
  height: 100vh;
  background-color: #220547;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrow {
  color: #ff9d00;
  font-size: 50px;
}

.downArrow:hover {
  color: #ffae2d;
  transition: 0.3s;
}

.typed-cursor, .typed-cursor--blink {
  color: white;
}


/* =============================================================================
ABOUT
========================================================================== */

.about {
  background-color: #f8f9fa;
  height: 100vh;
}

.about-left p {
  text-align: center;
}

.about-right p {
  text-align: center;
}

/* .profile-picture {
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 50%;
} */

/* =============================================================================
SKILLS (same page as about)
========================================================================== */

.skills-icons {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.skills-icons li {
  margin-top: 20px;
  font-size: 0.7rem;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.bulma {
  background-image: url(../images/bulma.png);
  width: 40px;
  height: 40px;
  background-size: contain;
  margin: 0 auto;
}

.skills-icons li i {
  font-size: 2rem;
}

.card {
  margin: 5px;
}

.devicon-express-original,
.devicon-mongodb-plain,
.devicon-bootstrap-plain,
.devicon-sass-original,
.devicon-jquery-plain-wordmark,
.devicon-mysql-plain,
.devicon-github-plain,
.devicon-atom-original,
.devicon-slack-plain,
.devicon-confluence-plain,
.devicon-heroku-original
{
  color: #220547;
}

.fab {
  color: #220547;
}

span {
  margin-top: 6px;
}

/* =============================================================================
PROJECTS
========================================================================== */
.projects {
  height: auto;
  padding-bottom: 20px;
}

.project-row {
  margin: 20px 0 50px 0;
}


.project {
  max-width: 500px;
  width: 100%;
  height: 500px;
  text-align: left;
  padding-left: 30px;
}

.openProjectBtn {
  background-color: transparent;
  border: 1px solid #ff9d00;
  color: #ff9d00;
  width: 150px;
  padding: 5px;
  font-size: 0.8rem;
}

.openProjectBtn:hover {
  background-color: #ff9d00;
  color: white;
  transition: 0.3s;
}

.openProjectBtn:hover .fab {
  color: white !important;
  padding: 0 10px 0 0;
}

.openProjectBtn:hover .fas {
  color: white !important;
  padding: 0 10px 0 0;
}


.openProjectBtn .fab {
  color: #ff9d00 !important;
  padding: 0 10px 0 0;
  transition: 0.3s;
}

.openProjectBtn .fas {
  color: #ff9d00 !important;
  padding: 0 10px 0 0;
  transition: 0.3s;
}

.technology-icons, .project-icons {
  list-style: none;
  overflow: hidden;
  padding: 2px;
}

.technology-icons li {
  float: left;
  padding: 5px;
  font-size: 1.3rem;
  color: #fff;
}

.project-icons li {
  float: left;
  padding: 0px;
}

.project-icons li a {
  font-size: 1rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.project-icons li a:hover {
  opacity: 1;
}

.project-1 {
  background-image: url('../images/spaceinvaderss.png');
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-size: cover;
}

.project-2 {
  background-image: url('../images/instagramm.png');
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-size: cover;
}

.project-3 {
  background-image: url('../images/traversee.png');
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-size: cover;
}

.project-4 {
  background-image: url('../images/bokee.png');
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-size: cover;
}

/* =============================================================================
JOURNEY
========================================================================== */

.journey {
  background-color: #f8f9fa;
  padding: 60px 0 60px 0;
}

.contact {
  padding-top: 40px;
  background-color: #220547;
  color: white;
}

.social-icons {
  list-style: none;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
}

.social-icons li {
  float: left;
  padding: 20px;
}

.social-icons li .fab {
  font-size: 40px;
  color: #fff !important;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.social-icons li a {
  font-size: 40px;
  color: #fff !important;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.social-icons li a:hover {
  opacity: 1;
}

.email {
  font-size: 1rem;
  color: white;
  font-weight: 300;
}


/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: orange;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timelineContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timelineContainer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: #ff9d00;
  border: 6px solid #ff9d00;
  top: 15px;
  transform: rotate(45deg);
  z-index: 1;
}

/* Place the timelineContainer to the left */
.left {
  left: 0;
  text-align: right;
}

/* Place the timelineContainer to the right */
.right {
  left: 50%;
  text-align: left;
}

.left p {
  text-align: right;
}

/* Add arrows to the left timelineContainer (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right timelineContainer (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  /* content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #45009c;
  border-width: 10px 10px 10px 0;
  border-color: transparent #45009c transparent transparent; */
}

/* Fix the circle for timelineContainers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  /* padding: 20px 30px;
  background-color: #45009c;
  position: relative;
  border-radius: 6px;
  color: white; */
}

.content p {
  font-size: 0.8rem;
}


/* =============================================================================
FOOTER
========================================================================== */

footer {
  padding-bottom: 40px;
  background-color: #220547;
}

footer p {
  opacity: 0.5;
  color: white;
}

.copyright {
  font-size: 0.7rem;
}

/* =============================================================================
MEDIA QUERIES
========================================================================== */

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width timelineContainers */
  .timelineContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
    text-align: left;
  }

  .content {
    text-align: left;
  }
}



/*==================================================
Media Queries
==================================================*/

/***************** Custom, iPhone Retina ***************************/
@media only screen and (max-width : 320px) {

  .homeBtn {
    display: none;
  }

  .fa-angle-double-down {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    text-align: left;
    font-weight: 700;
    padding: 40px 0 10px 0;
  }

  h3 {
    padding: 0;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  .content p {
    font-size: 0.7rem;
  }

  .typewriter {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
    padding: 10px 0 10px 0;
  }

  p {
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: left !important;
  }

  .about {
    height: auto;
  }

  .skills {
    background-color: #f8f9fa;
    padding: 0px;
  }

  .skills-icons {
    padding-bottom: 20px;
  }

  .skills-icons li {
    float: left;
    font-size: 0.6rem;
    width: 70px;
    height: 70px;
  }

  .project {
    text-align: center;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .right {
    left: 0%;
    text-align: left;
  }

  .content {
    text-align: left;
  }

  .openProjectBtn {
    display: inline;
  }

  .project-4, .project-3, .project-2, .project-1 {
    width: 100%;
    max-width: 320px;
    height: 180px;
    background-size: cover;
  }

  .journey {
    padding: 0;
  }

  footer {
    padding-top: 10px;
  }
}


@media only screen and (max-width: 480px) and (min-width: 321px) {

  .home {
    height: 100vh;
  }

  h1 {
    font-size: 4rem;
  }

  .typewriter {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
    padding: 10px 0 10px 0;
  }

  h2 {
    text-align: left;
    font-weight: 700;
    padding: 60px 0 10px 0;
  }

  h3 {
    font-size: 1.7rem;
    text-align: left;
    padding-bottom: 0px;
  }

  p {
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .about {
    height: auto;
    padding-bottom: 20px;
  }

  .about-left p {
    text-align: left;
  }

  .about-right p {
    text-align: left;
  }

  .skills {
    padding: 10px 0 10px 0;
  }

  .skills-icons li {
    float: left;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.6rem;
    width: 90px;
    height: 90px;
  }

  .project {
    text-align: center;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .project-buttons {
    display: flex;
    justify-content: space-between;
}

  .right {
    left: 0%;
    text-align: left;
  }

  .content {
    text-align: left;
  }

  .content p {
    font-size: 0.8rem;
    text-align: left;
  }

  .openProjectBtn {
    display: inline;
  }

  .project-4, .project-3, .project-2, .project-1 {
    width: 100%;
    max-width: 480px;
    height: 250px;
    background-size: cover;
  }

  .journey {
    padding: 0;
  }

  footer {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 481px) and (min-width: 720px) {


}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  h2 {
    font-size: 1.4rem;
  }

  .about {
    height: auto;
    padding-bottom: 20px;
  }

  .row {
    /* display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: flex-start;
    justify-content: center; */
    margin-bottom: 0px;
  }

  .skills-icons li {
    margin-top: 20px;
    font-size: 0.7rem;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

  .project {
    padding-bottom: 50px;
    height: auto;
  }

  .project-row {
    margin: 0px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
    height: auto;
  }

  .project-1, .project-2, .project-3, .project-4 {
    width: 100%;
    max-width: 500px;
    height: 350px;
    background-size: cover;
  }

}
